In [1]:
import pandas as pd
import numpy as np

In [6]:
pf = None
dyckPath(pf)

   1  2  3  4  5
0  1  0  0  0  0
1  5  0  0  0  0
2  0  0  2  0  0
3  0  0  4  0  0
4  0  0  0  0  3

In [5]:
def dyckPath(pf):
    
    #pf_copy = pf.copy()
    spots = []
    input_ = [1,3,5,3,1]
    
    data = {}
    
    length = len(input_)
    
    for i in range(1, length+1):
        data[i] = []
    
    for j in input_:
        for k in range(0, length):
            if j == input_[k]:
                if k+1 not in data[j]:
                    data[j].append(k+1)
                    for n in data:
                        if n!=j:
                            data[n].append(0)
        
    #print(data)
    
    df = pd.DataFrame(data)
    
    return df